<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tickets.mapper.CarMapper">
    <insert id="add" parameterType="com.example.tickets.pojo.entity.Trains">
        INSERT INTO trains
        (train_number, departure_station_id, arrival_station_id, 
        departure_time, arrival_time, duration, 
        business_seats, first_seats, second_seats)
        VALUES 
        (#{trainNumber}, #{departureStationId}, #{arrivalStationId}, 
        #{departureTime}, #{arrivalTime}, #{duration}, 
        #{businessSeats}, #{firstSeats}, #{secondSeats})
    </insert>
    <select id="selectAll" resultType="com.example.tickets.pojo.entity.Trains">
        select trains.id,train_number,departure_time,arrival_time,duration,business_seats,first_seats,second_seats,
               (select station_name from stations where departure_station_id = stations.id ) as departure_station_name,
               (select city from stations where departure_station_id = stations.id) as departure_station_city,
               (select station_name from stations where arrival_station_id = stations.id) as arrival_station_name,
                (select city from stations where arrival_station_id = stations.id) as arrival_station_city
        from trains
                 left join stations on trains.departure_station_id = stations.id
    </select>
</mapper>
