<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tickets.mapper.UserMapper">

     <select id="login" resultType="com.example.tickets.pojo.entity.Users">
         select
             id,
             username,
             password,
             real_name as realName,
             id_card as idCard,
             phone,
             user_type as userType,
             create_time as createTime
         from users
         where username = #{username} and password = #{password}
     </select>

</mapper>
